main/appsettings.Development.json
main/Azure.Core.dll
main/Azure.Identity.dll
main/dotnet-aspnet-codegenerator-design.dll
main/Humanizer.dll
main/Main.deps.json
main/Main.exe
main/Main.pdb
main/MessagePack.Annotations.dll
main/MessagePack.dll
main/Microsoft.AspNetCore.Razor.Language.dll
main/Microsoft.Bcl.AsyncInterfaces.dll
main/Microsoft.Build.dll
main/Microsoft.Build.Framework.dll
main/Microsoft.CodeAnalysis.AnalyzerUtilities.dll
main/Microsoft.CodeAnalysis.CSharp.dll
main/Microsoft.CodeAnalysis.CSharp.Features.dll
main/Microsoft.CodeAnalysis.CSharp.Scripting.dll
main/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
main/Microsoft.CodeAnalysis.dll
main/Microsoft.CodeAnalysis.Features.dll
main/Microsoft.CodeAnalysis.Razor.dll
main/Microsoft.CodeAnalysis.Scripting.dll
main/Microsoft.CodeAnalysis.VisualBasic.dll
main/Microsoft.CodeAnalysis.VisualBasic.Features.dll
main/Microsoft.CodeAnalysis.VisualBasic.Workspaces.dll
main/Microsoft.CodeAnalysis.Workspaces.dll
main/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
main/Microsoft.Data.SqlClient.dll
main/Microsoft.DiaSymReader.dll
main/Microsoft.DotNet.Scaffolding.Shared.dll
main/Microsoft.EntityFrameworkCore.Abstractions.dll
main/Microsoft.EntityFrameworkCore.dll
main/Microsoft.EntityFrameworkCore.Relational.dll
main/Microsoft.EntityFrameworkCore.SqlServer.dll
main/Microsoft.Extensions.Caching.Abstractions.dll
main/Microsoft.Extensions.Caching.Memory.dll
main/Microsoft.Extensions.Configuration.Abstractions.dll
main/Microsoft.Extensions.DependencyInjection.Abstractions.dll
main/Microsoft.Extensions.DependencyInjection.dll
main/Microsoft.Extensions.Logging.Abstractions.dll
main/Microsoft.Extensions.Logging.dll
main/Microsoft.Extensions.Options.dll
main/Microsoft.Extensions.Primitives.dll
main/Microsoft.Identity.Client.dll
main/Microsoft.Identity.Client.Extensions.Msal.dll
main/Microsoft.IdentityModel.Abstractions.dll
main/Microsoft.IdentityModel.JsonWebTokens.dll
main/Microsoft.IdentityModel.Logging.dll
main/Microsoft.IdentityModel.Protocols.dll
main/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
main/Microsoft.IdentityModel.Tokens.dll
main/Microsoft.NET.StringTools.dll
main/Microsoft.SqlServer.Server.dll
main/Microsoft.VisualStudio.Debugger.Contracts.dll
main/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
main/Microsoft.VisualStudio.Web.CodeGeneration.dll
main/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
main/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
main/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
main/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
main/Microsoft.Win32.SystemEvents.dll
main/Newtonsoft.Json.dll
main/NuGet.Common.dll
main/NuGet.Configuration.dll
main/NuGet.DependencyResolver.Core.dll
main/NuGet.Frameworks.dll
main/NuGet.LibraryModel.dll
main/NuGet.Packaging.dll
main/NuGet.ProjectModel.dll
main/NuGet.Protocol.dll
main/NuGet.Versioning.dll
main/System.Composition.AttributedModel.dll
main/System.Composition.Convention.dll
main/System.Composition.Hosting.dll
main/System.Composition.Runtime.dll
main/System.Composition.TypedParts.dll
main/System.Configuration.ConfigurationManager.dll
main/System.Drawing.Common.dll
main/System.IdentityModel.Tokens.Jwt.dll
main/System.Memory.Data.dll
main/System.Runtime.Caching.dll
main/System.Security.Cryptography.ProtectedData.dll
main/System.Security.Permissions.dll
main/System.Text.Encodings.Web.dll
main/System.Text.Json.dll
main/System.Windows.Extensions.dll
main/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
main/cs/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/cs/Microsoft.CodeAnalysis.Features.resources.dll
main/cs/Microsoft.CodeAnalysis.resources.dll
main/cs/Microsoft.CodeAnalysis.Scripting.resources.dll
main/cs/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/cs/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/cs/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/cs/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/de/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/de/Microsoft.CodeAnalysis.CSharp.resources.dll
main/de/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/de/Microsoft.CodeAnalysis.Features.resources.dll
main/de/Microsoft.CodeAnalysis.resources.dll
main/de/Microsoft.CodeAnalysis.Scripting.resources.dll
main/de/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/de/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/de/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/de/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/es/Microsoft.CodeAnalysis.CSharp.resources.dll
main/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/es/Microsoft.CodeAnalysis.Features.resources.dll
main/es/Microsoft.CodeAnalysis.resources.dll
main/es/Microsoft.CodeAnalysis.Scripting.resources.dll
main/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/fr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
main/fr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/fr/Microsoft.CodeAnalysis.Features.resources.dll
main/fr/Microsoft.CodeAnalysis.resources.dll
main/fr/Microsoft.CodeAnalysis.Scripting.resources.dll
main/fr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/fr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/fr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/fr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/it/Microsoft.CodeAnalysis.CSharp.resources.dll
main/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/it/Microsoft.CodeAnalysis.Features.resources.dll
main/it/Microsoft.CodeAnalysis.resources.dll
main/it/Microsoft.CodeAnalysis.Scripting.resources.dll
main/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
main/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/ja/Microsoft.CodeAnalysis.Features.resources.dll
main/ja/Microsoft.CodeAnalysis.resources.dll
main/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
main/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/ko/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
main/ko/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/ko/Microsoft.CodeAnalysis.Features.resources.dll
main/ko/Microsoft.CodeAnalysis.resources.dll
main/ko/Microsoft.CodeAnalysis.Scripting.resources.dll
main/ko/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/ko/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/ko/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/ko/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
main/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/pl/Microsoft.CodeAnalysis.Features.resources.dll
main/pl/Microsoft.CodeAnalysis.resources.dll
main/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
main/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/ru/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
main/ru/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/ru/Microsoft.CodeAnalysis.Features.resources.dll
main/ru/Microsoft.CodeAnalysis.resources.dll
main/ru/Microsoft.CodeAnalysis.Scripting.resources.dll
main/ru/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/ru/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/ru/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/ru/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
main/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
main/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
main/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
main/runtimes/win/lib/net6.0/System.Drawing.Common.dll
main/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
main/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
main/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
main/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
main/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
main/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
main/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
main/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
main/tr/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
main/tr/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/tr/Microsoft.CodeAnalysis.Features.resources.dll
main/tr/Microsoft.CodeAnalysis.resources.dll
main/tr/Microsoft.CodeAnalysis.Scripting.resources.dll
main/tr/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/tr/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/tr/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/tr/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/wwwroot/Main.styles.css
main/zh-Hans/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.Features.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.Scripting.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.Features.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.Scripting.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
main/zh-Hant/Microsoft.CodeAnalysis.Workspaces.resources.dll
src/Main/CommonUtil/Common.cs
src/Main/CommonUtil/DB.cs
src/Main/Models/Dao/SessionDao.cs
src/Main/Views/Home/Twitter_GetAccessToken.cshtml
main/Main.dll
main/web.config
src/Main/Properties/PublishProfiles/FolderProfile4.pubxml.user
main/Main.staticwebassets.runtime.json
main/Microsoft.EntityFrameworkCore.Design.dll
main/Microsoft.Extensions.DependencyModel.dll
main/Mono.TextTemplating.dll
main/System.CodeDom.dll
src/Main/obj/**
src/Main/.vs/**
src/Main/bin/**
main/publish/**
main/*.dll
*.pdb
main/test.txt
