body {
    margin: 0;
}

div.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    height: 100%;
    min-height: 1080px;
}

div.left_nav {
    justify-content: flex-start;
    width: 15%;
    padding-right: 10px;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    justify-content: flex-start;
    width: 85%;
}

body {
    font-family: -apple-system
                , BlinkMacSystemFont
                , "Segoe UI"
                , Roboto, Ubuntu
                , "Helvetica Neue"
                , sans-serif
                , "Apple Color Emoji"
                , "Segoe UI Emoji"
                , "Segoe UI Symbol"
                , Arial
                , "ƒqƒ‰ƒMƒmŠpƒS Pro W3"
                , "Hiragino Kaku Gothic Pro"
                , ƒƒCƒŠƒI, Meiryo
                , "‚l‚r ‚oƒSƒVƒbƒN"
                , "MS PGothic";
}