main.login {
    width: 100%;
}

main.login {
    display: flex;
    justify-content: center;
}

div.login-twitter {
    margin-top: 10px;
    border: solid #000000 1px;
    width: 80%;
    max-width: 400px;
    height: 150px;
    background-color: #ffffff;
}

div.login-twitter h2 {
    padding: 0;
    margin: 0;
}

div.login-twitter-title {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

div.login-twitter-remarks {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

div.login-twitter-button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

div.login-twitter-button img {
    width: 158px;
    height: 28px;
}