<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="RemoteOnly" />
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="401" />
            <error statusCode="401" path="ErrorPage\401.html" responseMode="File" />
            <remove statusCode="403" />
            <error statusCode="403" path="ErrorPage\403.html" responseMode="File" />
            <remove statusCode="404" />
            <error statusCode="404" path="ErrorPage\404.html" responseMode="File" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="httpsリダイレクト" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
